# Outside server directive

# Define cache path and size (create folder and lookout for permissions). use_temp_path wold be unnecessary io
proxy_cache_path /var/cache/nginx/jellyfin levels=1:2 keys_zone=jfimg:200m max_size=10g inactive=30d use_temp_path=off;

# Map for static lookups without middleware
map $img_type $img_file {
    default     "poster";
    "Logo"      "logo";
    "Primary"   "poster";
    "Backdrop"  "backdrop";
    "Art"       "clearart";
    "Thumb"     "landscape";
    "Banner"    "banner";
    "Disc"      "disc";
    "Menu"      "menu";
    "Box"       "box";
    "BoxRear"   "back";
}

# generate size parameter for imgproxy + part of cache key
map "$w:$h:$mw:$mh" $resize {
    "~^0:0:([1-9][0-9]*):([1-9][0-9]*)$"   "rs:fit:$mw:$mh:0:0";
    "~^0:0:([1-9][0-9]*):0$"               "rs:fit:$mw:0:0:0";
    "~^0:0:0:([1-9][0-9]*)$"               "rs:fit:0:$mh:0:0";
    default                                "rs:fit:$w:$h:0:0";
}


# Extract path without query for cache key - e.g. ignore quality from different clients and hardcode it.
map $request_uri $path_without_query {
    "~^([^?]+)" $1;
}


server {

    ...

    # Error code 404 is used for non GET request to forward them to jellyfin .e.g. update an image via POST
    error_page 404 = @jf_proxy;

    # Split first 2 HEX for folder structure of nginx
    location ~* ^/Items/(?<jf_id>[0-9a-f-]*)/Images/(?<img_type>Logo|Primary|Art|Thumb|Banner|Disc|Menu|Box|BoxRear|Backdrop|Chapter)/?(?<img_id>[0-9]*)? {
        if ($request_method != GET) {
            return 404;
        }

        # Set 0 to have no limit for a side. Will not overwrite limit set in imgproxy container
        # Often clients send width and no height - keep the ratio
        set $w $arg_fillWidth$arg_width;
        if ($w = "") { set $w "0"; }
        set $h $arg_fillHeight$arg_height;
        if ($h = "") { set $h 0; }
        set $mw $arg_maxWidth;
        if ($mw = "") { set $mw "0"; }
        # set $mh $arg_maxHeight;
        # if ($mh = "") { set $mh 0; }
        set $mh 0;

        proxy_pass http://127.0.0.1:18887/resolve?type=image&jf_id=$jf_id&img_id=$img_id&img_type=$img_type&size=$resize;
        proxy_set_header Accept $http_accept;
        proxy_cache jfimg;
        # Key that determants the cache
        proxy_cache_key $path_without_query:$resize:$arg_tag:$http_accept;
        proxy_cache_valid 200 30d;
        proxy_cache_use_stale updating error timeout invalid_header http_500 http_502 http_503 http_504;

        proxy_intercept_errors on;

        add_header X-Cache-Status $upstream_cache_status;
    }

    location @jf_proxy {
        # YOUR jellyfin upstream, so images can be updated
    }

    ...

}
